{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Recipe Finder!</h1>
    </header>
    <main>
        <p>Explore new recipes by entering your ingredients</p>
        <button onclick="findRecipe()">Find a recipe</button>
        <button onclick="login()">Log in</button>
        <button onclick="signUp()">Sign up</button>

    </main>
    <script>
        function findRecipe(){
            window.location.href = "{% url 'findRecipe' %}";
        }

        function login() {
            alert("Login functionality goes here!");
        }

        function signUp() {
            window.location.href = "{% url 'signUp' %}";
        }
    </script>

</body>
</html>
