body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;

}

.signup-form {
    width: 300px;
    margin: 0 auto;
    padding: 80px;
    background-color: #c6d4bc;
    border-radius: 8px;

}


h1{
   font-size: 60px;
   font-family: 'titlesBOLD', serif;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 20px;


}
.signup-form input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;

}

.signup-form button:hover {
    background-color: white;
}

.signup-form button {
    border-radius: 3px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #e2ebdd;
    color: black;
    border: 2px solid white;
    font-family: 'titlesBOLD', serif;
    font-size: 20px;
    align-self: flex-end;
    margin-top: 30px;

}
.signup-form label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 40px;
}
