{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a recipe</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'findRecipe.css' %}">
</head>
<body>
    <header>
        <h1>Find a recipe</h1>
    </header>
    <main>
        <p>Enter your ingredients</p>
        <input type="text" id="ingredientInput" placeholder="Type ingredients...">
        <ul id="suggestionsList"></ul>
    </main>
    <script>

    </script>
</body>
</html>