{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a recipe</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'findRecipe.css' %}">
</head>
<body>
    <header>
        <h1>Find a recipe</h1>
    </header>
    <main>
        <p>Enter your ingredients</p>
        <input type="text" id="ingredientInput" placeholder="Type in an ingredient...">
        <button onclick="searchRecipes()">Find a recipe</button>
        <ul id="suggestionsList"></ul>
        <div>
            <table id="recipeTbl">
        </table>
        </div>

    </main>
    <script src="{% static 'edamamAPI.js' %}"></script>

    </script>
</body>
</html>