{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a recipe</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'findRecipe.css' %}">
</head>
<body>
    <header>
        <h1>Find a recipe</h1>
    </header>
    <main>
        <p>Enter your ingredients</p>
        <input type="text" id="ingredientInput" placeholder="Type in an ingredient...">
        <ul id="suggestionsList"></ul>
    </main>

    <script src="{% static 'edamamAPI.js' %}"></script>

    <script>
        searchRecipes('chicken').then(recipes => {
            recipes.forEach(recipe => {
                console.log(recipe.label);
            });
        });
        //script for the input ingredients button (auto-complete the input)
        const inputBox = document.getElementById('ingredientInput'); //reference
        const suggestionsList = document.getElementById('suggestionsList'); //reference
        const suggestions = ['Apple', 'Banana', 'Carrot', 'Lemon', 'Orange'];

        function showAll() {
            suggestions.forEach(suggestion => {
                const li = document.createElement('li');
                li.textContent = suggestion;
                suggestionsList.appendChild(li);
            });
        }

        inputBox.addEventListener('focus', function() {
            showAll();
        });

        inputBox.addEventListener('blur', function() {
            suggestionsList.innerHTML = '';
        });

        inputBox.addEventListener('input', function() {
            const userInput = inputBox.value.trim();
            if (userInput !== '') {
                //simulated server response
                suggestionsList.innerHTML = '';
                 const filteredSuggestions = suggestions.filter(suggestion => suggestion.toLowerCase().startsWith(userInput.toLowerCase()));
                 filteredSuggestions.forEach(suggestion => {
                        const li = document.createElement('li'); //creates an html <li> element
                        li.textContent = suggestion; // Set the text content of the list item
                        suggestionsList.appendChild(li);
                    });
            }
            else {
                    suggestionsList.innerHTML = '';
                    showAll()
                }
            });



    </script>
</body>
</html>